{% extends 'base.html' %}

{% block title %}Client Detail: {{ client.name }}{% endblock %}

{% block header %}Client Detail: {{ client.name }}{% endblock %}

{% block content %}
    <h2>Client Detail</h2>
    <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9">{{ client.name }}</dd>
        
        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9">{{ client.email }}</dd>
        
        <dt class="col-sm-3">WhatsApp:</dt>
        <dd class="col-sm-9">{{ client.whatsapp }}</dd>
        
        <dt class="col-sm-3">Gender:</dt>
        <dd class="col-sm-9">{{ client.gender }}</dd>
        
        <dt class="col-sm-3">Phone Number:</dt>
        <dd class="col-sm-9">{{ client.phone_number }}</dd>
        
        <dt class="col-sm-3">Remaining Balance:</dt>
        <dd class="col-sm-9">{{ client.remaining_balance }}</dd>
    </dl>

    <a href="{% url 'client_update' client.id %}" class="btn btn-primary">Update</a>
    <form action="{% url 'client_delete' client.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
{% endblock %}
