<!-- trousers/trouser_detail.html -->

{% extends 'base.html' %}
{% block content %}
    <h2>trouser Detail</h2>
    <table class="table">
        <tr>
            <th>Brand Name</th>
            <td>{{ trouser.brand_name }}</td>
        </tr>
        <tr>
            <th>Cutt No</th>
            <td>{{ trouser.cutt_no }}</td>
        </tr>
        <tr>
            <th>Wash</th>
            <td>{{ trouser.wash }}</td>
        </tr>
        <tr>
            <th>Fabric Type</th>
            <td>{{ trouser.fabric_type.name }}</td>
        </tr>
        <tr>
            <th>Piece Style</th>
            <td>{{ trouser.piece_style }}</td>
        </tr>
        <tr>
            <th>Wash Type</th>
            <td>{{ trouser.wash_type }}</td>
        </tr>
        <tr>
            <th>Color</th>
            <td>{{ trouser.color }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ trouser.size }}</td>
        </tr>
        <tr>
            <th> Set Quantity</th>
            <td>{{ trouser.set_quantity }}</td>
        </tr>
        <tr>
            <th> Quantity</th>
            <td>{{ trouser.quantity }}</td>
        </tr>
        <tr>
            <th> Set Quantity</th>
            <td>{{ trouser.set_quantity }}</td>
        </tr>
        <tr>
            <th>Total Pcs Quantity</th>
            <td>{{ trouser.total_pcs_quantity }}</td>
        </tr>
        <tr>
            <th>Manufacturing Price</th>
            <td>{{ trouser.manufacturing_price }}</td>
        </tr>
        <tr>
            <th>Sale Price</th>
            <td>{{ trouser.sale_price }}</td>
        </tr>
        <tr>
            <th>Total Price</th>
            <td>{{ trouser.total_price }}</td>
        </tr>
    </table>
    <a href="{% url 'trouser_list' %}" class="btn btn-primary">Back to trouser List</a>
{% endblock %}
